@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
	background-color: #2E2E2E;
	font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-top:50px;
}


/* Typography */

p {
	font-size: 18px;
	line-height: 1.5;
	color: #8a8e91;
}

a {
	color:#999;
	text-decoration: none;
}

a:hover {
	color:white;
	text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	position: relative;
	margin: 10px 0;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

.material-icons {
	vertical-align: bottom;
	font-size: 20px !important;
}

.card-img {
	width: 100%;
}

.card-primary > .card-img-overlay {
  background: rgba(2, 96, 177, 0.9);
}

.card-secondary > .card-img-overlay {
  background: rgba(173, 171, 171, 0.9);
}

.card-info > .card-img-overlay {
  background: rgba(74, 156, 181, 0.9);
}

.card-success > .card-img-overlay {
  background: rgba(77, 156, 77, 0.9);
}

.card-warning > .card-img-overlay {
  background: rgba(240,173,78,0.9);
}

.card-danger > .card-img-overlay {
  background: rgba(199, 76, 72, 0.9);
}

.topics {
    margin-top: 30px;
}

.topics div {
    margin-bottom: 20px;
}

.topics a {
    font-size: 18px;
    line-height: 1.5;
    color: #f49200;
}

.exercise h4.card-title {
    color: #2e2e2e;
}

/* Derivative/integral steps */

.steps {
  text-align: left;
  font-size: 0.9em !important;
  font-family: 'Open Sans', sans-serif;
  max-width: 1600px;
  overflow: auto;
  margin: auto;
  background: white;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.steps li {
  min-width: 300px;
}

/* colors from http://gamedev.stackexchange.com/questions/46463 */
.steps ol {
  list-style-type: decimal;
  border-left: 1px solid #FF8080;
  padding: 0 30px;
}
.steps ol h2 {
  border-bottom: 1px solid #FF8080;
}

.steps ol ol {
  list-style-type: upper-alpha;
  border-left: 1px solid #92D169;
}

.steps ol ol h2 {
  border-bottom: 1px solid #92D169;
}

.steps ol ol ol {
  list-style-type: upper-roman;
  border-left: 1px solid #78BEF0;
}

.steps ol ol ol h2 {
  border-bottom: 1px solid #78BEF0;
}

.steps ol ol ol ol {
  list-style-type: lower-alpha;
  border-left: 1px solid #CC66C9;
}

.steps ol ol ol ol h2 {
  border-bottom: 1px solid #CC66C9;
}

.steps ol ol ol ol ol {
  list-style-type: lower-roman;
  border-left: 1px solid #F2A279;
}

.steps ol ol ol ol ol h2 {
  border-bottom: 1px solid #F2A279;
}

.collapsible > h2 {
  cursor: pointer;
  padding: 0;
  font-size: 1em;
  margin: 0.25em 0;
}

.collapsible > h2:before {
  content: "-";
}

.collapsible > h2.shown:before {
  content: "+";
}

.ui-keyboard-frac span {
  background-image: url(https://cloud.githubusercontent.com/assets/2561440/12258775/26781542-b937-11e5-88b9-4a0b926dc8c0.png);
  background-position: -10px -5px;
  text-indent: -99em;
  width: 1.2em;
}

.ui-keyboard-sqrt span {
  background-image: url(https://cloud.githubusercontent.com/assets/2561440/12258775/26781542-b937-11e5-88b9-4a0b926dc8c0.png);
  background-position: -203px -5px;
  text-indent: -99em;
  width: 1.2em;
}


#keyboard-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto;
  position: fixed;
  background: #c5c5c5;
  padding: 10px;
  width: 100%;
  left: 0px;
  bottom: 0px;
}
#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto;
  max-width: 900px;
  text-align: center 
}
  #keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color:black;
  }
    .capslock, .tab, .left-shift {
    clear: left;
    }
      #keyboard .tab, #keyboard .delete {
      width: 85px;
      }
      #keyboard .capslock {
      width: 80px;
      }
      #keyboard .return {
      width: 77px;
      }
      #keyboard .left-shift {
      width: 95px;
      }
      #keyboard .right-shift {
      width: 109px;
      }
    .lastitem {
    margin-right: 0;
    }
    .uppercase {
    text-transform: uppercase;
    }
    #keyboard .space {
    clear: left;
    max-width: 700px;
    }
    .on {
    display: none;
    }
    #keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
    }

    #mathquill {
    padding: 5px;
    width: 500px;
    margin-top: 20px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    color: black;
    border-radius: 4px;
}
#keyboard-mask {
  height: 200px;
}

#solution{
  display: none;
}

ul.errorlist.nonfield {
    list-style: none;
    padding: 0px;
}