{% extends "header.html" %}
{% block content %}
  {% load staticfiles %}
  <span class="path">
  <a href="/">Courses</a><i class="material-icons">keyboard_arrow_right</i>
  </span>
  <h3>{{ course.course_name }}</h3>
  <hr>
  <br>
  <p>
  {{ course.course_desc }}
  </p>
<!--   <br>
  {{rand_fn}}
  <br>
  Differential : <br>{{diff}}
  <br>
  Integral :   <br>{{integral}} -->
  {% if course.topic_set.all %}
  <h4>Topics</h4>
  <div class="topics">
    {% for topic in course.topic_set.all %}
        <div class="topic card">
          <div class="card-block">
            <h4 class="card-title">{{ topic.topic_name }}</h4>
            <p class="card-text">
              <br>
              {% with progressRange|random as progress %}
              <progress class="progress progress-{%if progress < 20 %}danger {% elif progress < 60  %}warning {%else%}success {%endif%}" value="{{progress}}" max="100"></progress>
              {% endwith %}
            </p>
          </div>
          <div class="card-footer text-xs-right">
            {% if topic.exercise_set.count > 0 %}<a href="/course/{{ course.id }}/topic/{{ topic.id }}"><button type="button" class="btn btn-danger">Exercises ({{topic.exercise_set.count}})</button></a>
            {% else %}
            <button type="button" disabled class="btn btn-secondary">No Exercises</button>
            {% endif %}
          </div>
        </div>
    {% endfor %}
  </div>
  {% endif %}

{% endblock %}