{% extends "header.html" %}
{% block content %}
  {% load staticfiles %}
  <a href="/course/{{ course.id }}"><b>{{ course.course_name }}</b></a>
  <a href="/course/{{ course.id }}/topic/{{ topic.id }}"><b><i class="material-icons">keyboard_arrow_right</i> {{ topic.topic_name }}</b></a>
  <h3> <i class="material-icons" style="vertical-align:middle">keyboard_arrow_right</i> {{ exercise.exercise_name }}</h3>
  <br>
  <center>
  {% autoescape off %}
  {{prompt}}
  {% endautoescape %}
  <br><br> 
  {% if input_method == "MathKeyboard" %}
  Your answer : <br>
<div id="wrap">
  <div id="mathquill"></div>
</div>
  {% endif %}
  </center>
   <br>
<!--   Solution : <br><script type="math/tex; mode=display">{{diff}}</script>
 -->  <br>
<!--   Steps : <br>
  {% autoescape off %}
  <div class="steps">{{diff_steps}}</div>
  {% endautoescape %}
 -->
 <!--  <br>
  Integral :   <br>{{integral}}
 -->

 <ul id="keyboard">
    <li class="symbol" data-action="write" data-content="1">1</li>
    <li class="symbol" data-action="write" data-content="2">2</li>
    <li class="symbol" data-action="write" data-content="3">3</li>
    <li class="symbol" data-action="write" data-content="4">4</li>
    <li class="symbol" data-action="write" data-content="5">5</li>
    <li class="symbol" data-action="write" data-content="6">6</li>
    <li class="symbol" data-action="write" data-content="7">7</li>
    <li class="symbol" data-action="write" data-content="8">8</li>
    <li class="symbol" data-action="write" data-content="9">9</li>
    <li class="symbol" data-action="write" data-content="0">0</li>
    <li class="letter lastitem" data-action="cmd" data-content="^">^</li>
    <li class="letter" data-action="write" data-content="\lim_{x\to\infty}">lim</li>
    <li class="letter" data-action="cmd" data-content="\sqrt">√</li>
    <li class="letter" data-action="cmd" data-content="\ge">≥</li>
    <li class="letter" data-action="cmd" data-content="\le">≤</li>
    <li class="letter" data-action="cmd" data-content=">">></li>
    <li class="letter" data-action="cmd" data-content="<"><</li>
    <li class="letter" data-action="cmd" data-content="\pi">&pi;</li>
    <li class="letter lastitem" data-action="cmd" data-content="\infty">&#x221e;</li>
    <li class="letter" data-action="write" data-content="+">+</li>
    <li class="letter" data-action="write" data-content="*">*</li>
    <li class="letter" data-action="write" data-content="\frac {} {}">/</li>
    <li class="letter" data-action="write" data-content="x">x</li>
    <li class="letter" data-action="write" data-content="y">y</li>
    <li class="letter" data-action="write" data-content="z">z</li>
    <li class="delete" data-action="keystroke" data-content="Backspace">delete</li>
  </ul>
<script>
$(document).ready(function() {
  var MQElement = document.getElementById('mathquill');

  var MQ = MathQuill.getInterface(2); // for backcompat

  var mathField = MQ.MathField(MQElement, {});

  $('#keyboard li').click( function(event) {
    event.preventDefault();
    if ( $(this).data('action') == 'write') {
      mathField.write($(this).data('content'));
    } else if($(this).data('action') == 'cmd') {
      mathField.cmd($(this).data('content'));
    } else if($(this).data('action') == 'keystroke') {
      mathField.keystroke($(this).data('content'));
    }
    mathField.focus();
  });
});
</script>
{% endblock %}