{% extends "header.html" %}
{% block content %}
  {% load staticfiles %}
  <a href="/course/{{ course.id }}"><b>{{ course.course_name }}</b></a>
  <a href="/course/{{ course.id }}/topic/{{ topic.id }}"><b><i class="material-icons">keyboard_arrow_right</i> {{ topic.topic_name }}</b></a>
  <h3> <i class="material-icons" style="vertical-align:middle">keyboard_arrow_right</i> {{ exercise.exercise_name }}</h3>
  <br>
  <center>
  {% autoescape off %}
  {{prompt}}
  {% endautoescape %}
  <br><br> 
  {% if input_method == "MathKeyboard" %}
  Your answer : <br>
  <span id ="math-keyboard" style="background:white; color:black; width:200px;height:30px"></span>
  <span id ="latex" style="display:none" type="text"></span>
  {% endif %}
  </center>
   <br>
<!--   Solution : <br><script type="math/tex; mode=display">{{diff}}</script>
 -->  <br>
<!--   Steps : <br>
  {% autoescape off %}
  <div class="steps">{{diff_steps}}</div>
  {% endautoescape %}
 -->
 <!--  <br>
  Integral :   <br>{{integral}}
 -->
<script>
var mathFieldSpan = document.getElementById('math-keyboard');
var latexSpan = document.getElementById('latex');

var MQ = MathQuill.getInterface(2); // for backcompat
var mathField = MQ.MathField(mathFieldSpan, {
  spaceBehavesLikeTab: true, // configurable
  handlers: {
    edit: function() { // useful event handlers
      latexSpan.textContent = mathField.latex(); // simple API
    }
  }
});
</script>

 <script type="text/javascript">
   $('#problem').keyboard({ layout: 'qwerty',     usePreview: false
 });
 </script>
{% endblock %}