{% extends "header.html" %}
{% block content %}
  {% load staticfiles %}
  <span class="path">
  <a href="/course/{{ course.id }}/topic/{{ topic.id }}">{{ topic.topic_name }}</a><i class="material-icons">keyboard_arrow_right</i>
  </span>
  <h3>{{ exercise.exercise_name }}</h3>
  <hr>
  <br><br> 
  <div class="row">
    <div class="question card offset-md-3 col-md-6">
      <div class="question-progress">
        <span class="question-dot done"></span>
        <span class="question-dot done"></span>
        <span class="question-dot done"></span>
        <span class="question-dot"></span>
        <span class="question-dot"></span>
        <span class="question-dot"></span>
        <span class="question-dot"></span>
      </div>
      <div class="question-progress-text">
        Question 4 of 7
      </div>
      {% autoescape off %}
      {{ answer }}
      {% endautoescape %}
      {% autoescape off %}
      {{prompt}}
      {% endautoescape %}
      {% if input_method == "MathKeyboard" %}
      <div id="wrap" class="row">
        <div class="col-xs-8 offset-xs-2" id="mathquill"></div>
      </div>
      {% endif %}
      <br>
      <form id="answer-form" method="POST">
        {% csrf_token %}
        {{ form }}
        {% if correct == True %}
        <button class="btn btn-danger" onclick="$('form').submit();" name="new" type="submit">Next <i class="material-icons">keyboard_arrow_right</i></button>
        {% else %}
        <input class="btn btn-success" type="submit" value="Verify" />
        {% endif %}
      </form>
      <div style="clear: both; float: none"> </div>
    </div>
  </div>
   <br>
<!--   Solution : <br><script type="math/tex; mode=display">{{diff}}</script>
 -->  <br>
<!--   Steps : <br>
  {% autoescape off %}
  <div class="steps">{{diff_steps}}</div>
  {% endautoescape %}
 -->
 <!--  <br>
  Integral :   <br>{{integral}}
 -->

 <div id="keyboard-wrapper">
   <div id="keyboard" class="desktop">
      <div class="keypad std default row-fluid">
        <div class="key-group col-xs-4">
          <div class="row-fluid">
            <div class="key col-xs-4 symbol" data-action="write" data-content="1">1</div>
            <div class="key col-xs-4 symbol" data-action="write" data-content="2">2</div>
            <div class="key col-xs-4 symbol" data-action="write" data-content="3">3</div>
            <div class="key col-xs-4 symbol" data-action="write" data-content="4">4</div>
            <div class="key col-xs-4 symbol" data-action="write" data-content="5">5</div>
            <div class="key col-xs-4 symbol" data-action="write" data-content="6">6</div>
            <div class="key col-xs-4 symbol" data-action="write" data-content="7">7</div>
            <div class="key col-xs-4 symbol" data-action="write" data-content="8">8</div>
            <div class="key col-xs-4 symbol" data-action="write" data-content="9">9</div>
            <div class="key col-xs-4 special2" data-action="keyboard-hide"><i class="material-icons">keyboard_hide</i></div>
            <div class="key col-xs-4 symbol" data-action="write" data-content="0">0</div>
            <div class="key col-xs-4 letter" data-action="write" data-content=".">.</div>
          </div>
        </div>
        <div class="key-group col-xs-4">
          <div class="row-fluid">
            <div class="key col-xs-4 letter" data-action="write" data-content="x">x</div>
            <div class="key col-xs-4 letter" data-action="write" data-content="y">y</div>
            <div class="key col-xs-4 letter" data-action="write" data-content="z">z</div>
            <div class="key col-xs-4 letter" data-action="write" data-content="+">+</div>
            <div class="key col-xs-4 letter" data-action="write" data-content="-">-</div>
            <div class="key col-xs-4 letter" data-action="write" data-content="*">*</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="2" data-content="\frac {} {}">/</div>
            <div class="key col-xs-4 letter lastitem" data-action="cmd" data-stepback="1" data-content="^">^</div>
            <div class="key col-xs-4 letter" data-action="cmd" data-content="\sqrt"><img src="{% static 'img/rootkey.png' %}"/></div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="2" data-content="\sqrt[]{}"><img src="{% static 'img/baserootkey.png' %}"/></div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\ln{()}">ln</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="3" data-content="\log_{}{()}">log</div>
          </div>
        </div>
        <div class="key-group col-xs-4">
          <div class="row-fluid">
            <div class="key col-xs-4 letter" data-action="write" data-content="(">(</div>
            <div class="key col-xs-4 letter" data-action="write" data-content=")">)</div>
            <div class="key col-xs-4 letter" data-action="write" data-content="[">]</div>
            <div class="key col-xs-4 letter" data-action="write" data-content="[">]</div>
            <div class="key col-xs-4 letter" data-action="cmd" data-content="\pi">&pi;</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="e^{}">e</div>
            <div class="key col-xs-4 special" data-action="keystroke" data-content="Up"><i class="material-icons">keyboard_arrow_up</i></div>
            <div class="key col-xs-4 special" data-action="keystroke" data-content="Left"><i class="material-icons">keyboard_arrow_left</i></div>
            <div class="key col-xs-4 special" data-action="keystroke" data-content="Right"><i class="material-icons">keyboard_arrow_right</i></div>
            <div class="key col-xs-4 special" data-action="keystroke" data-content="Down"><i class="material-icons">keyboard_arrow_down</i></div>
            <div class="key col-xs-4 special2" data-action="switch-keys" data-content="trig"><img src="{% static 'img/sincoskey.png' %}"/></div>
            <div class="key col-xs-4 special2" data-action="keystroke" data-content="Backspace"><i class="material-icons">backspace</i></div>
          </div>
        </div>
      </div>
      <div class="keypad trig">
        <div class="key-group col-xs-4 offset-xs-4">
          <div class="row-fluid">
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\sin{()}">sin</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\cos{()}">cos</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\tan{()}">tan</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\cot{()}">cot</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\sec{()}">sec</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\csc{()}">csc</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\arcsin{()}">asin</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\arccos{()}">acos</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\arctan{()}">atan</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\arccot{()}">acot</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\arcsec{()}">asec</div>
            <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\arccsc{()}">acsc</div>
            <div class="key col-xs-4 special2" data-action="switch-keys" data-content="std">123</div>
            <div class="key col-xs-4 letter" data-action="write" data-content="x">x</div>
            <div class="key col-xs-4 special2" data-action="keystroke" data-content="Backspace"><i class="material-icons">backspace</i></div>
          </div>
        </div>
      </div>
    </div>

   <div id="keyboard" class="mobile">
      <div class="keypad std default row-fluid">
        <div class="key col-xs-4 symbol" data-action="write" data-content="1">1</div>
        <div class="key col-xs-4 symbol" data-action="write" data-content="2">2</div>
        <div class="key col-xs-4 symbol" data-action="write" data-content="3">3</div>
        <div class="key col-xs-4 symbol" data-action="write" data-content="4">4</div>
        <div class="key col-xs-4 symbol" data-action="write" data-content="5">5</div>
        <div class="key col-xs-4 symbol" data-action="write" data-content="6">6</div>
        <div class="key col-xs-4 symbol" data-action="write" data-content="7">7</div>
        <div class="key col-xs-4 symbol" data-action="write" data-content="8">8</div>
        <div class="key col-xs-4 symbol" data-action="write" data-content="9">9</div>
        <div class="key col-xs-4 symbol" data-action="write" data-content="0">0</div>
        <div class="key col-xs-4 letter" data-action="write" data-content=".">.</div>
        <div class="key col-xs-4 letter" data-action="write" data-content="x">x</div>
        <div class="key col-xs-4 letter" data-action="write" data-content="y">y</div>
        <div class="key col-xs-4 letter" data-action="write" data-content="z">z</div>
        <div class="key col-xs-4 letter" data-action="write" data-content="+">+</div>
        <div class="key col-xs-4 letter" data-action="write" data-content="-">-</div>
        <div class="key col-xs-4 letter" data-action="write" data-content="*">*</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="2" data-content="\frac {} {}">/</div>
        <div class="key col-xs-4 letter lastitem" data-action="cmd" data-stepback="1" data-content="^">^</div>
        <div class="key col-xs-4 letter" data-action="cmd" data-content="\sqrt"><img src="{% static 'img/rootkey.png' %}"/></div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="2" data-content="\sqrt[]{}"><img src="{% static 'img/baserootkey.png' %}"/></div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\ln{()}">ln</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="3" data-content="\log_{}{()}">log</div>
        <div class="key col-xs-4 letter" data-action="write" data-content="(">(</div>
        <div class="key col-xs-4 letter" data-action="write" data-content=")">)</div>
        <div class="key col-xs-4 letter" data-action="write" data-content="[">]</div>
        <div class="key col-xs-4 letter" data-action="write" data-content="[">]</div>
        <div class="key col-xs-4 letter" data-action="cmd" data-content="\pi">&pi;</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="e^{}">e</div>
        <div class="key col-xs-4 special2" data-action="keyboard-hide"><i class="material-icons">keyboard_hide</i></div>
        <div class="key col-xs-4 special" data-action="keystroke" data-content="Up"><i class="material-icons">keyboard_arrow_up</i></div>
        <div class="key col-xs-4 special" data-action="keystroke" data-content="Left"><i class="material-icons">keyboard_arrow_left</i></div>
        <div class="key col-xs-4 special" data-action="keystroke" data-content="Right"><i class="material-icons">keyboard_arrow_right</i></div>
        <div class="key col-xs-4 special" data-action="keystroke" data-content="Down"><i class="material-icons">keyboard_arrow_down</i></div>
        <div class="key col-xs-4 special2" data-action="switch-keys" data-content="trig"><img src="{% static 'img/sincoskey.png' %}"/></div>
        <div class="key col-xs-4 special2" data-action="keystroke" data-content="Backspace"><i class="material-icons">backspace</i></div>
      </div>
      <div class="keypad trig">
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\sin{()}">sin</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\cos{()}">cos</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\tan{()}">tan</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\cot{()}">cot</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\sec{()}">sec</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\csc{()}">csc</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\arcsin{()}">asin</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\arccos{()}">acos</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\arctan{()}">atan</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\arccot{()}">acot</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\arcsec{()}">asec</div>
        <div class="key col-xs-4 letter" data-action="write" data-stepback="1" data-content="\arccsc{()}">acsc</div>
        <div class="key col-xs-4 special2" data-action="switch-keys" data-content="std">123</div>
        <div class="key col-xs-4 letter" data-action="write" data-content="x">x</div>
        <div class="key col-xs-4 special2" data-action="keystroke" data-content="Backspace"><i class="material-icons">backspace</i></div>
      </div>
    </div>
  </div>
  <div id="keyboard-mask">
  </div>
<script>
$(document).ready(function() {
  var isMobile = window.matchMedia("only screen and (max-width: 760px)");
  var MQElement = document.getElementById('mathquill');

  var MQ = MathQuill.getInterface(2); // for backcompat

  var mathField = MQ.MathField(MQElement, {});

  $('#keyboard .keypad:not(.default)').hide();
  $('#keyboard .key').click( function(event) {
    event.preventDefault();

    if ( $(this).data('action') == 'write') {
      mathField.write($(this).data('content'));
    } else if($(this).data('action') == 'cmd') {
      mathField.cmd($(this).data('content'));
    } else if($(this).data('action') == 'keystroke') {
      mathField.keystroke($(this).data('content'));
    } else if($(this).data('action') == 'switch-keys') {
      console.log("'#keyboard .keypad:not(.' + $(this).data('content') + ')'");
      $('#keyboard .keypad:not(.' + $(this).data('content') + ')').hide();
      $('#keyboard .keypad.' + $(this).data('content')).show();
    } else if($(this).data('action') == 'keyboard-hide'){
      closeKeyboard();
    }

    if (typeof $(this).data('stepback') !== 'undefined') {
      for (var i = 0; i < parseInt($(this).data('stepback')); i++) {
        mathField.keystroke('Left');
      }
    }

    if(isMobile) {
      mathField.blur();
    } else {
      mathField.focus();
    }
  });

  closeKeyboard = function() {
    $('#keyboard-mask').slideUp();
    $('#keyboard-wrapper').slideUp();
  }

  openKeyboard = function() {
    $('#keyboard-wrapper').slideDown();
    $('#keyboard-mask').slideDown("fast", function() {
      $(window).scrollTop($('#keyboard-mask').position().top + $('#keyboard-mask').outerHeight());      
    });
  }

  closeKeyboard();

  $('#mathquill').click(function(e) {
    $('#mathquill').blur();
    openKeyboard();
  });
 
  $('#keyboard-mask').height($('#keyboard-wrapper').height());

  $('#answer-form').submit(function(event) {
    // event.preventDefault();
    $("#id_answer").val(mathField.latex());
    return;
  });

  $('#display-solution').click(function(e){
    e.preventDefault();
    // alert(mathField.latex());
    $(this).text($(this).text()=="Hide"?"Solution":"Hide");
    $('#solution').slideToggle();
  });
  mathField.latex($("#id_answer").val());
});
</script>
{% endblock %}