<!DOCTYPE html>
<html>

<head>
  <title>Math Tutor</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type = "text/css"/>
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<body class="body">
  <div class="container">
  <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" height="100px"/></a>
   {% block content %}
   {% endblock %} 
  </div>
</body>

</html>
