{% extends "header.html" %}
{% block content %}
  {% load staticfiles %}
  {% load progress %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Courses</a></li>
    <li class="breadcrumb-item"><a href="/course/{{ course.id }}">{{ course.course_name }}</a></li>
    <li class="breadcrumb-item active">{{ topic.topic_name }}</li>
  </ol>
  <h3>{{ topic.topic_name }}</h3>
  <hr>
  <br>
  {% if topic.exercise_set.all %}
  <div class="exercises">
    {% for exercise in topic.exercise_set.all %}
        <div class="exercise card {% if not exercise.exercise_active %}inactive{% endif %}">
          <div class="card-block">
            <h4 class="card-title">{{ exercise.exercise_name }}</h4>
            <p class="card-text">
              <br>
                {% exercise_progress user exercise as progress%}
                <progress class="progress progress-success" value="{{progress}}" max="100"></progress>
            </p>
          </div>
          <div class="card-footer text-xs-right">
            <button type="button" class="btn btn-success"><i class="material-icons">assessment</i></button>
            <button type="button" class="btn btn-danger"><i class="material-icons">alarm</i></button>
            <a href="/course/{{ course.id }}/topic/{{ topic.id }}/exercise/{{ exercise.id }}"><button type="button" class="btn btn-primary {% if not exercise.exercise_active %}disabled{% endif %}">Practice</button></a>
          </div>
        </div>
    {% endfor %}
  </div>
  {% endif %}

{% endblock %}